@model Pract.Models.Article


@{
    ViewBag.Title = "ChangeArticle";
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Изменение статьи</title>
    <link rel="stylesheet" href="../../Content/bootstrap.css">
    <link rel="stylesheet" href="../../Content/fonts.css">
    <link rel="stylesheet" href="../../Content/normalize.css">
    <link rel="stylesheet" href="../../Content/slick.css">
    <link rel="stylesheet" href="../../Content/index_style.css">
    <link href="../../Content/marticle_style.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../Content/contacts_style.css">
</head>
<body>
    <header class="header">
        <div class="header_top">
            <div class="container">
                <div class="header_top-inner row">
                    <a class="header_phone col-md-7" href="tel:375173773344375291511102375172022265375296566777">+375 (17) 377-33-44, +375 (29) 151-11-02, +375 (17) 202-22-65, +375 (29) 656-67-77</a>
                    <a href="~/Home/Contact" class="header_mail col-md-3">svetomir2015@mail.ru</a>
                    <div style="text-align:right; margin-right:15px">
                        <a href="~/Account/Login" class="admin">Админ</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header_bottom">
            <div class="container">
                <div class="header_bottom-inner">
                    <nav class="menu">
                        <ul>
                            <li><a href="~/Home/Index">Главная</a></li>
                            <li><a href="~/Home/About">О нас</a></li>
                            <li><a href="~/Home/Article">Статьи</a></li>
                            <li><a href="~/Home/Contact">Контакты</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h3 style="color:#FF7400; text-align:center;">Изменение статьи</h3>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Date)

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control inp" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ImageLink, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ImageLink, new { htmlAttributes = new { @class = "form-control inp" } })
                    @Html.ValidationMessageFor(model => model.ImageLink, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FirstStr, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FirstStr, new { htmlAttributes = new { @class = "form-control inp" } })
                    @Html.ValidationMessageFor(model => model.FirstStr, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control inp" } })
                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Изменить" class="def_btn" style="border-radius:5px; margin-right:20px" />
                    <a href="~/Home/Article" class="def_btn" style="border-radius:5px;">Назад</a>
                </div>
            </div>
        </div>
        }
        <div class="marticle-item">
            <div>
                <img class="marticle-img" src="@Model.ImageLink" alt="Alternate Text" />
            </div>
            <div class="marticle-title">
                @Model.Name
            </div>
            <div id="contentOfArticlePage" class="marticle-content">
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            Copyright © Все права защищены.
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="../../Scripts/slick.min.js"></script>
    <script src="../../Scripts/file.js"></script>
    <script type="text/javascript">
            var content ="@Model.Content";
            var search = '&lt;';
            var replaceWith = '<';
            var result = content.split(search).join(replaceWith);
            search = '&amp;nbsp;';
            replaceWith = ' ';
            result = result.split(search).join(replaceWith);
            search = '&gt;';
            replaceWith = '>';
            result = result.split(search).join(replaceWith);
            document.getElementById("contentOfArticlePage").innerHTML = result;
    </script>
</body>
</html>

